
<table class="table table-striped">
<thead>
	<tr>
		<th>Product Name</th>
		<th>Product Image</th>
		<th>Product Detail</th>
		<th>Events</th>
	</tr>
</thead>
<tbody>

{{#each list as |product|}}
	<tr>
		<td>{{product.productTitle}} {{product.title}}</td>
		<td><img src="{{product.productImg}}" alt="" width="100"></td>
		<td>
			{{product.productDetail}}
		</td>
		<td>{{#link-to 'edit' product.id}}<button class="btn btn-primary">Edit</button>{{/link-to}}</td>
		<td><button {{action 'deleteItem' product.id }} class="btn btn-danger">Delete</button></td>
	</tr>
	{{/each}}	
</tbody>	
</table>

{{yield}}
